.idea/*
/assets/*
/upload/*
/core/images/soc/*
/core/images/soc16/*
/protected/yiic.php
/protected/tests/bootstrap.php
/protected/tests/WebTestCase.php
/protected/runtime/*
/protected/config/console.php
/protected/config/main.php
/protected/config/test.php
/protected/extensions/db_profiler/*
/protected/extensions/yii-debug-toolbar/*
/index.php