.idea/*
/assets/*
/upload/*
/core/images/soc/*
/core/images/soc16/*
/protected/yiic.php
/protected/tests/bootstrap.php
/protected/tests/WebTestCase.php
/protected/runtime/*
/protected/extensions/db_profiler/*
/protected/extensions/yii-debug-toolbar/*
/protected/modules/import/*
/.htaccess
/index.php
/robots.txt