.idea/*
assets/*
cache/*
forum/*
upload/*
core/images/soc/*
core/images/soc16/*
protected/yiic.php
protected/runtime/*
protected/config/console.php
protected/config/local_*
protected/config/prod_*
protected/extensions/db_profiler/*
protected/extensions/yii-debug-toolbar/*
protected/modules/import/*
protected/modules/tinymce/assets/tiny_mce/*
themes/*
.htaccess
index.php
favicon.ico
robots.txt
*.html