services:
    traefik:
        image: traefik:3.6
        command:
            --providers.docker=true
            --providers.docker.exposedByDefault=false
            --entryPoints.http.address=:80
        ports:
            - "80:80"
        networks:
            - traefik-public
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik-public

    site:
        image: ${REGISTRY:-localhost}/site-dev:cache
        build:
            context: ./docker
            dockerfile: development/nginx/Dockerfile
            cache_from:
                - ${REGISTRY:-localhost}/site-dev:cache
            cache_to:
                - type=inline
        networks:
            - traefik-public
            - default
        volumes:
            - ./:/app
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.http.routers.site.rule=Host(`localhost`) || Host(`www.localhost`)
            - traefik.http.middlewares.site-redirect.redirectRegex.regex=^(https?://)www\.localhost/(.*)$$
            - traefik.http.middlewares.site-redirect.redirectRegex.replacement=$${1}localhost/$${2}
            - traefik.http.middlewares.site-redirect.redirectRegex.permanent=true
            - traefik.http.routers.site.middlewares=site-redirect
            - traefik.http.routers.site.entryPoints=http
            - traefik.http.services.site.loadBalancer.server.port=80

    site-php-fpm:
        image: ${REGISTRY:-localhost}/site-dev-php-fpm:cache
        build:
            context: ./docker
            dockerfile: development/php-fpm/Dockerfile
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-php-fpm:cache
            cache_to:
                - type=inline
        environment:
            PHP_IDE_CONFIG: serverName=SITE
            APP_DEBUG: 1
            APP_ENV: dev
            APP_URL: http://localhost
            APP_CAPTCHA_CODE: 42
            COOKIE_SECRET_FILE: /run/secrets/cookie_secret
            DB_HOST: site-mysql
            DB_NAME: app
            DB_USERNAME: app
            DB_PASSWORD_FILE: /run/secrets/db_password
            REDIS_HOST: site-redis
            REDIS_PASSWORD_FILE: /run/secrets/redis_password
            MAILER_HOST: site-mailer
            MAILER_PORT: 1025
            MAILER_USERNAME: app
            MAILER_PASSWORD_FILE: /run/secrets/mailer_password
            MAILER_FROM_EMAIL: mail@app.test
            DEWORKER_API_URL: http://site-wiremock:8080/api.deworker.pro
            SENTRY_DSN_FILE: /run/secrets/sentry_dsn
        volumes:
            - ./:/app
        secrets:
            - cookie_secret
            - db_password
            - redis_password
            - mailer_password
            - sentry_dsn

    site-php-cli:
        image: ${REGISTRY:-localhost}/site-dev-php-cli:cache
        build:
            context: ./docker
            dockerfile: development/php-cli/Dockerfile
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-php-cli:cache
            cache_to:
                - type=inline
        environment:
            APP_DEBUG: 1
            APP_ENV: dev
            APP_URL: http://localhost
            COOKIE_SECRET_FILE: /run/secrets/cookie_secret
            DB_HOST: site-mysql
            DB_NAME: app
            DB_USERNAME: app
            DB_PASSWORD_FILE: /run/secrets/db_password
            REDIS_HOST: site-redis
            REDIS_PASSWORD_FILE: /run/secrets/redis_password
            MAILER_HOST: site-mailer
            MAILER_PORT: 1025
            MAILER_USERNAME: app
            MAILER_PASSWORD_FILE: /run/secrets/mailer_password
            MAILER_FROM_EMAIL: mail@app.test
            DEWORKER_API_URL: http://site-wiremock:8080/api.deworker.pro
            SENTRY_DSN_FILE: /run/secrets/sentry_dsn
        volumes:
            - ./:/app
        secrets:
            - cookie_secret
            - db_password
            - redis_password
            - mailer_password
            - sentry_dsn
        network_mode: service:site

    site-node-watch:
        image: ${REGISTRY:-localhost}/site-dev-node-watch:cache
        build:
            context: ./docker/development/node
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-node-watch:cache
            cache_to:
                - type=inline
        volumes:
            - ./:/app
        command: ["sh", "-c", "until [ -f .ready ] ; do sleep 1 ; done && exec npm run watch"]

    site-node-cli:
        image: ${REGISTRY:-localhost}/site-dev-node-cli:cache
        build:
            context: ./docker/development/node
            args:
                GID: ${GID:-1000}
                UID: ${UID:-1000}
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-node-cli:cache
            cache_to:
                - type=inline
        volumes:
            - ./:/app

    site-mysql:
        image: mariadb:11
        volumes:
            - mysql:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
            MYSQL_USER: app
            MYSQL_PASSWORD_FILE: /run/secrets/db_password
            MYSQL_DATABASE: app
        secrets:
            - db_root_password
            - db_password
        ports:
            - "3306:3306"

    site-mysql-backup:
        image: ${REGISTRY:-localhost}/site-dev-mysql-backup:cache
        build:
            context: ./docker/common
            dockerfile: mysql-backup/Dockerfile
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-mysql-backup:cache
            cache_to:
                - type=inline
        volumes:
            - mysql-backup:/app
        environment:
            BACKUP_NAME: site-mysql
            MYSQL_HOST: site-mysql
            MYSQL_USER: app
            MYSQL_PASSWORD_FILE: /run/secrets/db_password
            MYSQL_DB: app
            AWS_ACCESS_KEY_ID: app
            AWS_SECRET_ACCESS_KEY_FILE: /run/secrets/backup_aws_secret_access_key
            AWS_DEFAULT_REGION: region
            S3_ENDPOINT: http://site-backup-storage:9090
            S3_BUCKET: backup
        secrets:
            - db_password
            - backup_aws_secret_access_key
        command: ["sh", "-c", "wait-for-it site-mysql:3306 -t 20 && exec backup"]

    site-upload-backup:
        image: ${REGISTRY:-localhost}/site-dev-files-backup:cache
        build:
            context: ./docker/common/files-backup
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-files-backup:cache
            cache_to:
                - type=inline
        environment:
            BACKUP_NAME: site-upload
            TARGET: /upload
            AWS_ACCESS_KEY_ID: app
            AWS_SECRET_ACCESS_KEY_FILE: /run/secrets/backup_aws_secret_access_key
            AWS_DEFAULT_REGION: region
            S3_ENDPOINT: http://site-backup-storage:9090
            S3_BUCKET: backup
        secrets:
            - backup_aws_secret_access_key
        volumes:
            - ./public/upload:/upload:ro
            - upload-backup:/app

    site-redis:
        image: ${REGISTRY:-localhost}/site-dev-redis:cache
        build:
            context: ./docker/common/redis
            cache_from:
                - ${REGISTRY:-localhost}/site-dev-redis:cache`
            cache_to:
                - type=inline
        environment:
            REDIS_PASSWORD_FILE: /run/secrets/redis_password
        secrets:
            - redis_password
        volumes:
            - redis:/data
        command:
            - 'redis-server'
            - '--maxmemory 32mb'
            - '--maxmemory-policy allkeys-lru'

    site-mailer:
        image: axllent/mailpit:v1.26
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
        networks:
            - traefik-public
            - default
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.http.routers.site-mailer.rule=Host(`mailer.localhost`)
            - traefik.http.routers.site-mailer.entryPoints=http
            - traefik.http.services.site-mailer.loadBalancer.server.port=8025

    site-backup-storage:
        image: adobe/s3mock:3.12.0
        environment:
            initialBuckets: backup
            debug: true
            root: data
        volumes:
            - backup-storage:/data

    site-wiremock:
        image: wiremock/wiremock:3.12.0-alpine
        networks:
            - traefik-public
            - default
        volumes:
            - ./wiremock:/home/wiremock
        command:
            - '--global-response-templating'
            - '--verbose'
        labels:
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.http.routers.site-wiremock.rule=Host(`wiremock.localhost`)
            - traefik.http.routers.site-wiremock.entryPoints=http
            - traefik.http.services.site-wiremock.loadBalancer.server.port=8080

secrets:
    cookie_secret:
        file: ./secrets/cookie_secret
    db_password:
        file: ./secrets/db_password
    db_root_password:
        file: ./secrets/db_root_password
    redis_password:
        file: ./secrets/redis_password
    mailer_password:
        file: ./secrets/mailer_password
    sentry_dsn:
        file: ./secrets/sentry_dsn
    backup_aws_secret_access_key:
        file: ./secrets/backup_aws_secret_access_key

volumes:
    upload-backup:
    mysql:
    mysql-backup:
    redis:
    backup-storage:

networks:
    traefik-public:
        name: traefik-public
