.subscribe-after-post {
  margin-bottom: 20px;
  padding: 15px 20px 10px;
  border: 2px dashed #aabace;
  background: #f3f6ff;
  border-radius: 10px;
}

.subscribe-after-post p.title {
  margin: 0 0 15px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
}

.subscribe-after-post a {
  color: #555;
}

.subscribe-after-post .subscribe-form::after {
  content: '';
  display: block;
  clear: both;
}

.subscribe-after-post input[type='text'],
.subscribe-after-post input[type='email'] {
  max-width: 100% !important;
  box-sizing: border-box;
  padding: 5px 4px;
  font-size: 13px;
  background: #fff;
  box-shadow: 1px 1px 2px #ddd inset;
  border: #aaa 1px solid;
  font-family: arial, sans-serif;
  border-radius: 4px;
}

.subscribe-after-post .subscribe-form .row {
  margin: 0 20px 10px 0;
  padding: 0;
  float: left;
}

.subscribe-after-post .subscribe-form .row input {
  width: 236px;
  padding: 10px 8px;
}

.subscribe-after-post .subscribe-form .button {
  margin: 0 0 10px;
  float: left;
}

.subscribe-after-post .subscribe-form .button button {
  width: auto;
  padding: 10px 18px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(#ff8d3b, #d33);
  border: none;
  border-radius: 30px;
  font-size: 13px;
}
