.edu-items {
  margin: 0;
}

.edu-items .edu-items-wrapper {
  margin: 0 -10px;
  display: flex;
  flex-flow: row wrap;
}

.edu-items .edu-items-wrapper .edu-items-item {
  width: 100%;
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  .text .edu-items .edu-items-wrapper .edu-items-item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .text .edu-items .edu-items-wrapper .edu-items-item {
    width: 33.3333%;
  }
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper {
  margin: 0 10px;
  box-shadow: 0 1px 10px rgba(0 0 0 / 5%);
  border-radius: 4px;
  background: #fff;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper {
  position: relative;
  min-height: 40px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb {
  display: block;
  text-decoration: none;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb
  img {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0;
  max-width: none;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb
  .play {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  opacity: 40%;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb
  .play
  circle {
  fill: #000;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb:hover
  .play {
  opacity: 80%;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .thumb:hover
  .play
  circle {
  fill: #ff2e00;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .count {
  position: absolute;
  right: 9px;
  bottom: 8px;
  display: inline-block;
  line-height: 1;
  padding: 3px 4px;
  font-size: 0.75rem;
  background: #fff;
  color: #000;
  border-radius: 3px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .badges {
  position: absolute;
  left: 10px;
  top: 10px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .badges
  .badge {
  display: inline-block;
  line-height: 0.75rem;
  padding: 4px 3px;
  margin-right: 5px;
  font-size: 0.75rem;
  color: #fff;
  border-radius: 4px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .thumb-wrapper
  .badges
  .badge.free {
  background: #06ab32;
  padding: 4px 6px;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .body {
  padding: 13px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .series {
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1;
  font-size: 0.7rem;
  color: #888;
  margin-bottom: 8px;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .series
  a {
  color: #888;
  text-decoration: none;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .title {
  font-family: Ubuntu, Arial, sans-serif;
  line-height: 1;
  font-size: 0.85rem;
  color: #222;
  margin-bottom: 0;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .title
  .index {
  color: #999;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .title
  .index::after {
  content: '/';
  font-size: 0.78rem;
  color: #ccc;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .title
  a {
  color: #222;
  text-decoration: none;
}

.edu-items
  .edu-items-wrapper
  .edu-items-item
  .edu-items-item-wrapper
  .body
  .description {
  margin-top: 8px;
  line-height: 1.4;
  font-size: 0.8rem;
  color: #888;
}

.edu-all-link {
  margin: 20px 0;
  text-align: center;
}

.edu-all-link a {
  padding: 12px 20px;
  border-radius: 60px;
  color: #fff;
  text-decoration: none;
  background: #c50089;
  font-size: 16px;
}
