.follow {
  height: 38px;
  text-align: center;
  margin-bottom: 20px;
}

.follow a {
  display: inline-block;
  width: 38px;
  height: 39px;
  margin-right: 4px;
}

.follow a span {
  display: block;
  width: 38px;
  height: 39px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('follow.png');
}

.follow a span.follow-feed {
  background-position-x: 0;
}

.follow a span.follow-twitter {
  background-position-x: -38px;
}

.follow a span.follow-github {
  background-position-x: -76px;
}

.follow a span.follow-vkontakte {
  background-position-x: -114px;
}

.follow a span.follow-facebook {
  background-position-x: -152px;
}
