html {
  background: #fff;
  min-height: 100%;
}

body {
  color: #333;
  font-family: arial, sans-serif;
  font-size: 13px;
  min-height: 100%;
}

.page-wrapper {
  margin: 0 auto;
  min-height: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 #c0c0c0;
}

.page-wrapper::after {
  content: '';
  display: block;
  height: 130px;
}

.page-header {
  padding: 20px 20px 10px 20px;
  position: relative;
  background: #fff;
  background: linear-gradient(#fff, #fafafa);
}

.page-header .logo {
  float: left;
  margin: 0 20px 20px 0;
}

.page-header .logo img {
  width: 120px;
  height: 28.83px;
}

.page-header .title {
  display: none;
  float: left;
}

.page-header .title .name {
  font-family: arial, sans-serif;
  line-height: 1;
  color: #555;
  font-size: 22px;
  margin: 0 0 5px 0;
}

.page-header .title .slogan {
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  margin: 0;
  color: #555;
}

.page-header .search {
  float: right;
  width: 100px;
}

.main-nav {
  clear: both;
  margin: 0;
  overflow: hidden;
  z-index: 2;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  background: #fff;
  border: 1px solid #ddd;
}

.main-nav ul::after {
  content: '';
  display: block;
  clear: both;
}

.main-nav ul li {
  float: left;
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  padding: 0;
  width: 50%;
  position: relative;
  z-index: 4;
}

.main-nav ul li a {
  margin: 0;
  display: block;
  width: 100%;
  position: relative;
  padding: 8px 0;
  text-align: center;
  color: #444;
  text-decoration: none;
  border-right: #ddd 1px solid;
  border-bottom: #ddd 1px solid;
}

.main-nav ul li a:hover {
  color: #fff;
  background: #c7360d;
}

.main-nav ul li.active a {
  text-shadow: 2px 2px 2px 1px #666;
  background: #05a;
  color: #fff;
}

.main-nav ul li:hover a::after,
.main-nav ul li.active a::after {
  display: block;
  content: '';
  margin: 0;
  padding: 0;
  height: 14px;
  width: 100%;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  background: #fff;
  opacity: 0.2;
}

.main-nav > ul > li.important::before {
  content: '';
  display: block;
  background: #d00;
  position: absolute;
  width: 9px;
  height: 9px;
  left: 24px;
  top: 14px;
  border-radius: 20px;
  box-shadow: 0 0 3px 3px #f90;
}

.page-content {
  padding: 10px 20px 20px 20px;
  position: relative;
}

.main,
.sidebar {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

.main .text img {
  max-width: 100%;
  height: auto;
}

.main .text iframe {
  max-width: 100%;
}

.search-form {
  position: relative;
  height: 30px;
  z-index: 2;
  font-size: 14px;
  background: #fff;
  box-shadow: 1px 1px 2px #ddd inset;
  border: #ccc 1px solid !important;
  font-family: calibri, arial, sans-serif;
  border-radius: 4px;
  margin-bottom: 20px;
}

.search-form .search-word {
  width: 100%;
  position: absolute;
  left: 8px;
  top: 0;
  z-index: 2;
  margin: 5px 0;
}

.search-form .search-word input {
  margin: 0 20px 0 0 !important;
  display: block;
  width: 95%;
  color: #333;
  padding: 2px 0 !important;
  border: none !important;
  background: none !important;
}

.search-form .search-button {
  position: absolute;
  right: 4px;
  top: 3px;
  z-index: 3;
  margin: 5px 0;
}

.search-form .search-button button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAj1JREFUOI2NkE1rE1EYhc+9Nx/TKTPJJJLU0pZgWztdJIuAdJGFrqxQUPzAlS79B0J33XVTXJqFP0CsKF3HiLu6SSukqaIlwjS0Y1vCpNOQm3YymVs3CWjoVA+8cA8Xnvecl2BAy8vLsiRJKuf8aGlp6Xzwf1Ck/1hdXU13Op0VQogmSRLzPC+k6/obRVFWJicnhR8gAACFQiFdr9dfZzKZj+l0WhJCUNu2vWKxmMtms68APPMDUACglL6Ix+PvZmdna4SQ74yxb5FIZCeXy60bhnG9VqvlfBMcHByopVIpNj09vUsIsQkhpwAcSqnT6XTOOeddwzDuAfh8YQJN01TGGK9UKjvtdnsbQA2ARQhpEUJa7Xb7yLZt1bdCs9n8NTIyEtvc3KSc8yEhhAIgKoSICiHUZDKZMU3zqy8gkUgIy7Lez8/PPy2XyzHOuSKEiHS73eje3l7q5OTkSSgU+uAHYACg6/o6IeSxoih3ms2m02q1lP39/RvVavV5KpW6OjExcctxnB9bW1u7gwDyp1lcXLw5Nja2EAwGY6Zplk3T/JTNZtcODw/1er1+FggE7ufz+YIv4CLNzMwsqKq6Nj4+HkokEmeMsb8g7F8Ay7Kqw8PD267rPmCMhWVZfjQ3N/dlY2Pj538BAKDRaOzIslxxXffhIGSwwqV+amrqrqZpb3t1To+Pj6/1EwQAxAFcARDtjdabvo82Go0jSmnV87zbAFzLsl72N1AAQwCCva2XHnd0dDQZDocdwzB2fwMnNu0MzDEqEQAAAABJRU5ErkJggg==') !important;
  cursor: pointer;
}

.page-footer {
  min-height: 130px;
  margin: -130px auto 0 auto;
  position: relative;
  background: #444;
  color: #ccc;
}

.page-footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: linear-gradient(#333, #444);
}

.page-footer .content {
  padding: 20px 20px 0 20px;
  position: relative;
}

.page-footer p {
  font-size: 11px;
  line-height: 1.3;
}

.page-footer a {
  color: #ccc;
}

.page-footer a:hover {
  color: #fff;
}

.page-footer .nav {
  margin: 0 20px 20px 0;
  float: left;
}

.page-footer .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer .nav ul li {
  margin: 0;
  padding: 0 0 4px 0;
}

.page-footer .nav ul li:first-child {
  padding-left: 0;
}

.page-footer .nav ul li a {
  color: #ccc;
}

.page-footer .nav ul li a:hover {
  color: #fff;
}

.page-footer .nav ul li.active a {
  font-weight: bold;
  text-decoration: none;
  color: #ccc;
  cursor: default;
}

.page-footer .nav ul li ul {
  display: none;
}

.page-footer .info {
  clear: left;
  float: left;
  margin-right: 40px;
}

.page-footer .copy {
  float: left;
}

.page-footer .counters {
  float: right;
}

.page-footer .counters img {
  margin: 0 0 4px 0;
  opacity: 0.5;
}

.page-footer .counters img:hover {
  opacity: 1;
}

.page-footer .system-nav {
  margin: 0 20px 20px 0;
  float: left;
}

.page-footer .system-nav a {
  color: #ccc;
}

@media screen and (min-width: 480px) {
  .main-nav ul li {
    width: 33.3%;
  }
}

@media screen and (min-width: 600px) {
  .page-header .logo img {
    width: 154px;
    height: 37px;
  }

  .page-header .search {
    float: right;
    width: 260px;
  }

  .page-header,
  .page-content {
    padding: 20px;
  }

  .page-content::before {
    content: '';
    display: block;
    width: 100%;
    height: 15px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: linear-gradient(#ddd, #fff);
  }

  .main-nav {
    margin: 0;
    overflow: hidden;
    padding: 10px;
    z-index: 2;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACBJREFUeNpi/P79OwMDw/Xr1xmArHPnzoH4EAoIAAIMACtkFdTWUO0tAAAAAElFTkSuQmCC');
    box-shadow: 1px 2px 2px 1px #ccc inset;
    border-radius: 6px;
  }

  .main-nav ul {
    margin: 0;
    padding: 0;
    position: relative;
    height: 36px;
    list-style: none;
    background: #fff;
    background: linear-gradient(#fff, #eee);
    box-shadow: 1px 2px 2px 1px #d6d6d6;
    border-radius: 4px;
    border: none;
  }

  .main-nav ul::after {
    display: block;
    content: '';
    margin: 0;
    padding: 0;
    height: 16px;
    width: 100%;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.3;
  }

  .main-nav ul li {
    float: left;
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    padding: 0;
    width: 16.6%;
    position: relative;
    z-index: 4;
  }

  .main-nav ul li:last-of-type {
    width: 17%;
  }

  .main-nav ul li a {
    margin: 0;
    display: block;
    width: 100%;
    position: relative;
    padding: 12px 0 12px 0;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: none;
    border-right: #ccc 1px solid;
  }

  .main-nav ul li:first-child a {
    border-radius: 4px 0 0 4px;
  }

  .main-nav ul li:last-child a {
    border: none !important;
    border-radius: 0 4px 4px 0;
  }

  .main-nav ul li a:hover {
    color: #fff;
    background: #c7360d;
  }

  .main-nav ul li.active a {
    text-shadow: 2px 2px 2px 1px #666;
    background: #05a;
    color: #fff;
  }

  .main-nav ul li:hover a::after,
  .main-nav ul li.active a::after {
    display: block;
    content: '';
    margin: 0;
    padding: 0;
    height: 19px;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    background: #fff;
    opacity: 0.2;
  }
}

@media screen and (min-width: 780px) {
  .page-wrapper,
  .page-footer {
    width: 780px;
  }

  .page-header .title {
    display: block;
  }

  .main,
  .sidebar {
    margin-bottom: 0;
  }

  .main.left-main,
  .main.right-main {
    width: 460px;
  }

  .sidebar.left-sidebar,
  .sidebar.right-sidebar {
    width: 260px;
  }

  .main.left-main {
    float: left;
  }

  .main.right-main {
    float: right;
  }

  .sidebar.left-sidebar {
    float: left;
  }

  .sidebar.right-sidebar {
    float: right;
  }

  .page-footer .nav ul li {
    float: left;
    padding: 0 20px;
    border-right: #ccc 1px solid;
  }
}

@media screen and (min-width: 900px) {
  .page-wrapper,
  .page-footer {
    width: 900px;
  }

  .main.left-main,
  .main.right-main {
    width: 580px;
  }
}

@media screen and (min-width: 1000px) {
  .page-wrapper,
  .page-footer {
    width: 1000px;
  }

  .main.left-main,
  .main.right-main {
    width: 680px;
  }
}
