/**
 * CSS styles for calendar
 */
div.calendar {
  display: inline;
}

div.calendar .calendar-month a:link,
div.calendar .calendar-month a:visited {
  padding: 2px 5px;
  text-decoration: none;
}

div.calendar .calendar-month {
  margin-bottom: 10px;
  text-align: center;
}

div.calendar .calendar-prev {
  float: left;
}

div.calendar .calendar-next {
  float: right;
}

div.calendar .page a {
  font-weight: normal;
}

div.calendar #today {
  color: #900;
  font-weight: bold;
}

div.calendar table {
  margin-bottom: 0;
  width: 100%;
  border: none;
}

div.calendar table th {
  text-align: center;
  padding: 5px 0;
  border: #eee 1px solid;
  color: #333;
  width: 1%;
  background: linear-gradient(#fff, #eee);
}

div.calendar table td {
  text-align: center;
  padding: 6px 0;
  border: #eee 1px solid;
  background: linear-gradient(#fff, #eee);
}

div.calendar table td[colspan] {
  background: #fff;
}

div.calendar table td a {
  text-decoration: underline;
  font-weight: bold;
}

div.calendar table td a:hover {
  text-decoration: underline;
  font-weight: bold;
  background: transparent;
}
