.edu-items {
  margin: 0;
}

.edu-items .edu-items-wrapper {
  margin: 0 -10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.edu-items .edu-items-wrapper .edu-items-item {
  width: 100%;
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  .edu-items .edu-items-wrapper .edu-items-item {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .edu-items .edu-items-wrapper .edu-items-item {
    width: 33.33333333%;
  }
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper {
  margin: 0 10px;
  box-shadow: 0 1px 10px rgba(0,0,0,.05);
  border-radius: 4px;
  background: #fff;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .thumb-wrapper {
  position: relative;
  min-height: 40px;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .thumb-wrapper .thumb {
  display: block;
  text-decoration: none;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .thumb-wrapper .thumb img {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .body {
  padding: 13px;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .body .title {
  font-family: Ubuntu,Arial,sans-serif;
  line-height: 1;
  font-size: .85rem;
  color: #222;
  margin-bottom: 0;
}

.edu-items .edu-items-wrapper .edu-items-item .edu-items-item-wrapper .body .title a {
  color: #222;
  text-decoration: none;
}

.edu-all-link {
  margin: 20px 0;
  text-align: center;
}

.edu-all-link a {
  padding: 12px 20px;
  border-radius: 60px;
  color: #fff;
  text-decoration: none;
  background: #c50089;
  font-size: 16px;
}
