.entry:after {
  content: '';
  display: block;
  clear: both;
}

.entry.list {
  padding: 15px 0 10px 0;
  border-top: #ddd 1px dashed;
}

.entry.list:last-child {
  margin-bottom: 5px;
  border-bottom: #ddd 1px dashed;
}

.entry header h1 {
  font-family: arial, sans-serif;
  font-weight: normal;
  margin: 0 0 15px 0;
  line-height: 1;
}

.entry.list .header .title {
  font-family: tahoma, arial, sans-serif;
  font-size: 22px;
  margin: 0 0 12px 0;
  line-height: 1.3;
  color: #aaa;
}

.entry.list .title a {
  text-decoration: underline;
}

.entry.list .title a:hover {
  color: #333;
  text-decoration: underline;
}

.entry .thumb {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 6px;
  border: #ccc 1px solid;
  border-radius: 4px;
}

.entry.list .thumb {
  margin: 0 0 10px 0;
  border: #ddd 1px solid;
  box-shadow: none;
}

.entry.home .thumb {
  padding: 0;
  margin: 0 0 6px 0;
  border: none;
  box-shadow: none;
}

.entry .thumb img {
  max-width: 250px;
}

.entry .info {
  margin-bottom: 12px;
}

.entry .info > div {
  font-size: 11px;
  line-height: 16px;
  color: #999;
  margin: 0;
  display: inline-block;
  padding-right: 8px;
}

.entry .info a {
  color: #999;
}

.entry .info a:hover {
  color: #098ff4;
}

.entry .info > div > span {
  display: inline-block;
  padding-left: 20px;
  height: 16px;
  zoom: 1;
}

.entry .info .date > span {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjVJREFUeNqkU9tqGlEUXTOOt0RSmwSqkBQrERqMD0IRQwsi9Af6Vuhr8Cf8hfyBefQ/8hApheKTRLw1sUJpSRBHJzrVceZ0nYlTJa/ZsJhz9tl77esoQgg8W3rA4Svg9fvT08+VSuV7Ppf7wvubOHUS8vyxWPxUrVa/faCNtJU+0ldZEYgHRUHg8hJ7x8e4bzZhF4uIrQL8JkJXV4imUtDbbfwtFBCh7oj+qkeihUIYaxrE9jYMvx8O70owCCUQgOPzQVdVKDs70GmjrJNXNO/0gg/tSgXDgwPMb2/xdncXU9uGsCz4iMH5Oe6SSZidDnK0tz0GiRvA2ePhTzyOu9EI+4wYDofh0FHCXi5hLBa4p80+kSAMIgmobgajiwscnpwgubWFI8eBw8k41Dv2Kg7vgiTgXWNJgmSDVgs4O4NLYOVyUDKZ/7UtSNLr9ZBIJPBzMHCJ9PEYhXzefZfkFvshRXXrME2XXazw4/oaN5xEmJNJsScvWY6fGdh8s1iSNZ8Ds9mawBNvqdLpNDYXrEkymY1hGJhMJi480Z4ulXSUmMsockdYSjQaxYJ1qxylxIiN9uSxBKYqsSkZ9sRhL6Q+yfHJ9GOxGILcjTinpXHspVJJoFwuo1arCdM0HxiZA1gLnQRJhK7rotvtiuFwKO3ct3q9Lvr9PrRsNosOl4PMoUAgoGxm4vXBa55MPRKJuOU1Go3HHrTkPIGvs9nsHb/Lpz3xCL2vLEvKdDr95eqf+zv/E2AA2wok93aFeo8AAAAASUVORK5CYII=') 0 0 no-repeat;
}

.entry .info .category > span {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbtJREFUeNrEU7tO3EAUvTPsLgbhFRIoCgiElCZAHyQkOihp8gVp8gtRCiQkSvgB6CjoUiKlixBFPgAlXaKkCEK8WWdf2PO6nBk7a6dJs0VGsufhc86999yxYGYaZkgactT869vHV2dRc3lZiKoeU9b5cW5NsopN9hdLhHfv5eZXEwQEy8X5tcO6EMLzApmwNundi+uznXMuTv0YaTSZrb7pXp68w/ZDECDDKTk1ml3tk1UjKKwJfkzR7DrNruw2KPjkIOOCuJATz78fr22XAlpIdgpkYB2Te/xFundN3ZtTqkcz4GjwFXSMj0bx4nsPXBh4gBoiZx5J9YFVPdKdNkBvKJpaKgr+kwHnGdQmiayslQJaUm3sGU0uvR0AkQeCXpBJPhHb38TGP22suxTNbcFWpooAboOFDf0vOdh2AE7I6VbYQ6U49wI9BEBTdKWNaBKzMyDc5pFCxKRYt4rI7YFA8CKrCihmQRbAh4KYlGmHuVOSXZqXaSoCrFzL9O/HdbcRk4slcx2YGB+mQfKh0AGZz0JasmnK4GSlQJrt/Tx4vQLnNmB6/M+7670TnxU5Psob+L9/pqEFngQYAPPTH3+Z9ysyAAAAAElFTkSuQmCC') 0 0 no-repeat;
}

.entry .info .comments > span {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAG/SURBVDjLjZK9T8JQFMVZTUyc3IyJg4mDi87+GyYu6qB/gcZdFxkkJM66qJMGSNRBxDzigJMRQ1jQ4EcQ+SgVKB+FtuL13EdJxNDq8Ev7Xu85797T51nwhqeAH5w6cAxWwDgReX7jwYfdaCIraroptB7NLlVQrOoiGEsL1G06GZyxuILicsMUH3VTlOqGKNUMUdTacj+j1Nng0NGAT2WxYosK1bbIVVoiW27J9V8G57WWKVSczMV5iK+Tudv1vVh5yXdlLQN+os4AFZss2Ob82CCgQmhYHSnmkzf2b6rIhTAaaT2aXZALIRdCLgRtkA1WfYG4iKcVYX52JIs7EYvFmJ8wGiEXQi6EXAhdyn2MxQaPcg68zIETTvzyLsPzWnwqixVbhFwI3RFykes+A9vkIBKX4jCoIxdCLrI4/0OcUXXK4/1dbbDBS088xGGCCzAJCsiF2lanT8xdKNhHXvRarLFBqmcwCrbAhL32+kP3lHguETKRsNlbqUFPeY2OoikW62DNM+jf2ibzQNN0g5ALC75AGiT59oIReQ+cDGyTB+TC4jaYGXiRXMTD3AFogVmnOjeDMRAC025duo7wH74BwZ8JlHrTPLcAAAAASUVORK5CYII=') 0 0 no-repeat;
}

.entry .info .tags > span {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAHcSURBVDjLhZPZihpBFIbrJeY2wbcQmjxdIGSSTC4zQxLyAK4o7igoKm7TPW49LoiYjqLG3DWpZmx7/tQpsR1xycW5qTr/9/+n+jTTdR3dbhftdhutVgvNZhOapkFVVTQajSsA7FKxTqcDx3GOajqdSki1Wr0IYeRMAsMwpPNkMnEhdCZSoFQqnYUwikzN5EYH9XpdNU0Ttm3LcwJWKhXk8/mTEEauu0YhfhKRDcuysDBt5H5tk4zHYxSLReRyuSMII+dd5M1mAxL//uvgw8Mz3t4DWWN7NxqNKAXS6fQBhIkZ+Wq1kk3r9Rpz4XytPeNLF/iqAx8f9pDhcEgpEI/HXQir1WpvxIx8uVzKps7Kls53AvCjB3x7PIQMBgNKgUgkIiGSUi6XFTEjXywWsunxj433qoM7fQ+51oDMzy2k1+tRCoRCoSt3lkKhoIgZ+Xw+P4J8F4DPTeDm3oK92aZIJpMIBAKvD15UzKdks1k+m81cyDsB+SRGuG2tYVpPL8Ued4SXlclklFQqxWkTCaILyG3bgWXvnf1+v8d9xFPLkUgklFgsxmkTd5+YxOL8QHwWQBWNRr3ipTktWL/fPym+CKAKh8PeYDDISezz+TwnV/l/v6tw9Qrxq3P3/wBazDrstPR7KQAAAABJRU5ErkJggg==') 0 0 no-repeat;
}

.entry .info .comments, .entry .info .tags {
  display: none;
}

.entry .short {
  font-size: 13px;
  color: #333;
}

.entry .short p {
  line-height: 1.3;
  margin-bottom: 12px;
}

.entry.list .short {
  font-size: 13px;
  color: #333;
  margin-bottom: 12px;
  font-family: verdana, arial, sans-serif;
}

.entry.list .short p {
  line-height: 1.3;
}

.entry .text {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #444;
}

.entry .text .syntaxhighlighter {
  margin: 30px 0 20px 0 !important;
  padding: 0 0 10px 0 !important;
  font-size: 13px !important;
}

.entry .text a:visited {
  color: #999;
}

.entry .text p {
  line-height: 1.5;
}

@media screen and (min-width: 480px) {
  .entry .info .comments, .entry .info .tags {
    display: inline-block;
  }

  .entry .thumb {
    margin: 0 20px 10px 0;
    float: left;
  }

  .entry.list .thumb {
    float: left;
    margin: 0 15px 10px 0;
  }

  .entry.list .thumb img {
    min-width: 250px;
    min-height: 180px;
  }

  .entry.home .thumb {
    float: left;
    margin: 0 15px 6px 0;
  }
}
