.follow {
  height: 38px;
}

.follow a {
  display: inline-block;
  width: 38px;
  height: 39px;
  margin-right: 4px;
}

.follow a span {
  display: block;
  width: 38px;
  height: 39px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.follow a span.follow-feed {
  background-image: url('/images/soc32/feed.png');
}

.follow a span.follow-twitter {
  background-image: url('/images/soc32/twitter.png');
}

.follow a span.follow-github {
  background-image: url('/images/soc32/github.png');
}

.follow a span.follow-vkontakte {
  background-image: url('/images/soc32/vkontakte.png');
}

.follow a span.follow-facebook {
  background-image: url('/images/soc32/facebook.png');
}
