div.form {
}

div.form input[type=email],
div.form input[type=text],
div.form input[type=password],
div.form textarea,
div.form select {
  margin: 0.2em 0 0.5em 0;
  padding: 4px;
  border: 1px solid #aaa;
  box-sizing: border-box;
}

div.form textarea {
  padding: 4px;
}

div.form label {
  color: #444;
  font-size: 13px;
  font-weight: normal;
  padding-bottom: 10px;
}

div.form .row {
  margin: 5px 0;
}

div.form .row.buttons {
  margin: 5px 0;
}

div.form .row.buttons input {
  margin: 0;
  padding: 3px 10px;
  background: #ddd;

  background: -moz-linear-gradient(#eee, #ccc);
  background: -webkit-linear-gradient(#eee, #ccc);
  background: -o-linear-gradient(#eee, #ccc);
  background: -ms-linear-gradient(#eee, #ccc);
  border-top: #ddd 1px solid;
  border-left: #ddd 1px solid;
  border-bottom: #aaa 1px solid;
  border-right: #aaa 1px solid;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
}

div.form .hint {
  margin: 0;
  padding: 0;
  color: #999;
}

div.form .note {
  color: #000;
}

div.form span.required {
  color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error {
  color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error {
  background: #FEE;
  border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success {
  background: #E6EFC2;
  border-color: #C6D880;
}


div.form .errorSummary {
  border: 2px solid #C00;
  padding: 7px 7px 12px 7px;
  margin: 0 0 20px 0;
  background: #FEE;
  font-size: 0.9em;
}

div.form .errorMessage {
  color: red;
  font-size: 0.9em;
}

div.form .errorSummary {
  padding: 7px;
}

div.form .errorSummary p {
  margin: 0;
  padding: 5px;
}

div.form .errorSummary ul {
  margin: 0;
  padding: 0 0 0 20px;
}

div.form .tooltip {
  display: none;
  background-color: #EFFDFF;
  border: 1px solid #79B4DC;
  padding: 10px;
  width: 300px;
}

div.form .tooltip ul {
  margin: 0;
  padding: 10px 0 0 20px;
}

div.form .tooltip code {
  color: #CA0EE3;
  font-size: 0.9em;
}

div.form.login {
  border: 1px solid #C9E0ED;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  border-radius: 5px;
}

div.form.login p {
  margin: 0 0 10px 0;
}
