ul.paginator {
  padding: 0;
  clear: both;
  line-height: 1.4;
  text-align: center;
  margin: 20px 0 20px 0;
  font-size: 0;
}

ul.paginator li {
  display: inline-block;
  margin: 0;
  padding: 0 2px;
  font-size: 13px;
}

ul.paginator a:link,
ul.paginator a:visited {
  color: #333;
  text-decoration: underline;
  margin: 0;
  display: inline-block;
  padding: 6px 12px;
}

ul.paginator .page a {
  text-decoration: underline;
  background: #eee;
  color: #333;
}

ul.paginator a:hover {
  background: #358fe7;
  color: #fff;
}

ul.paginator .selected a {
  text-decoration: none;
  background: #444;
  color: #fff;
  margin: 0;
  padding: 6px 12px;
  cursor: default;
}

ul.paginator .hidden a {
  visibility: hidden;
}

ul.paginator .previous a,
ul.paginator .next a {
  text-decoration: underline;
}

ul.paginator .previous, ul.paginator .next {
  display: none;
}

ul.paginator .first,
ul.paginator .last {
  display: none;
}
