h2.index {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

div.breadcrumbs {
  color: #999;
  margin-bottom: 15px;
  position: relative;
  font-size: 13px;
  z-index: 3;
  padding: 0;
}

div.breadcrumbs a {
  color: #999;
  text-decoration: underline;
}

div.breadcrumbs a:hover {
  text-decoration: none;
  color: #098ff4;
}

div.breadcrumbs span {
  display: none;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  div.breadcrumbs span {
    display: inline;
  }
}

.thumb img {
  max-width: 250px;
}

.greed-container {
  margin-right: -20px;
}

.subpages {
  margin: 0 0 10px 0;
}

.subpages ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subpages li {
  margin: 0 0 10px 0;
  font-size: 13px;
  float: left;
  padding: 0 10px 0 0;
}

.subpages li a {
  display: block;
  padding: 4px 10px;
  background: #444;
  color: #fff;
  text-decoration: none;
}

.subpages li a:hover {
  background: #0b5ca9;
}

.subpages li.active a {
  background: #c7360d;
  cursor: default;
}

.subpages li.return a {
  background: #a81e12;
}

.subpages li.return a:hover {
  background: #444;
}

ul.short-list {
  list-style: none;
  margin: 0 0 10px 0;
}

ul.short-list li {
  list-style: none;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.sitemap ul {
  list-style: none;
  margin-left: 0;
}

.sitemap ul ul {
  list-style: none;
  margin-left: 20px;
}

.block-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.twitter-tweet {
  width: 100% !important;
  margin-bottom: 20px !important;
}

.enc-date::before {
  content: attr(data-date);
}

.text a.order-button,
.text a.order-button:visited {
  padding: 12px 20px;
  border-radius: 60px;
  color: #fff;
  text-decoration: none;
  background: #337ab7;
  font-size: 16px;
}

.text a.order-button:hover {
  background: #3987cb;
  color: #fff;
}
