.nomargin {
  margin: 0 !important;
}

.clear {
  height: 1px !important;
  margin: 0 !important;
  font-size: 1px !important;
  overflow: hidden;
  position: relative;
  display: block;
  clear: both;
}

p.note {
  background: #eee;
  color: #264409;
  padding: .4em .8em;
  margin-bottom: 1em !important;
  border: 1px solid #ccc;
}

p.note_bot {
  margin-bottom: 20px;
  font-size: 11px;
  color: #999;
}

p.note_bot a {
  color: #666;
}

fieldset.editor {
  padding: 10px 0 0 0 !important;
}

fieldset.editor label {
  margin-left: 10px !important;
}







