.portfolio {
  width: 940px;
  height: 202px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  z-index: 2;
  margin-bottom: 20px;
  display: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAIAAADZSiLoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACBJREFUeNpi/P79OwMDw/Xr1xmArHPnzoH4EAoIAAIMACtkFdTWUO0tAAAAAElFTkSuQmCC');
  box-shadow: 1px 2px 2px 1px #ccc inset;
  border-radius: 6px;
}

@media screen and (width >= 1000px) {
  .portfolio {
    display: block !important;
  }
}

.portfolio .carousel-link {
  position: absolute;
  top: 50px;
  width: 24px;
  height: 115px;
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.portfolio .carousel-link.carousel-prev-link {
  left: 10px;
  background-image: url('left.png');
}

.portfolio .carousel-link.carousel-next-link {
  right: 10px;
  background-image: url('right.png');
}

.portfolio-slider {
  list-style: none;
  margin: 0 0 0 25px;
  padding: 0;
  width: 888px;
  height: 202px;
  position: relative;
  overflow: hidden;
}

.portfolio ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio ul li {
  float: left;
  margin: 0;
  padding: 0 5px;
}

.portfolio ul li a {
  border: #ccc 1px solid;
  display: block;
  position: relative;
  margin: 0;
  padding: 10px;
  box-shadow: 1px 2px 2px 1px #ccc;
  width: 190px;
  height: 180px;
  background: #fff url('loading.gif') center center no-repeat;
}

.portfolio ul li a .thumb {
  display: block;
  position: relative;
  margin: 0;
  width: 190px;
  height: 180px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.portfolio ul li a .thumb span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 190px;
  background: #fff;
  opacity: 0.8;
  color: #000;
  text-align: center;
  padding: 10px 0;
}

.portfolio ul li.more a .thumb {
  background-image: url('more.png');
}

.portfolio ul li a:hover {
  border: #aaa 1px solid;
}

p.portfolio-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin: 0 0 20px 0;
}

.entry.grid {
  margin: 0 21px 10px 0;
  width: 212px;
  float: left;
}

.entry.grid .thumb {
  float: none;
  margin: 0 0 10px 0;
  border-radius: 4px;
  padding: 6px;
}

.entry.grid .thumb a {
  display: block;
  position: relative;
  margin: 0;
  width: 198px;
  height: 180px;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #fff;
}

.entry.grid .thumb a span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  opacity: 0.8;
  color: #000;
  text-align: center;
  padding: 6px 0;
}

.entry.grid .thumb a:hover span {
  text-decoration: underline;
  opacity: 1;
}

.entry.grid .short p {
  font-family: arial, sans-serif;
  text-align: center;
  line-height: 1.1;
}
